<md-card class="mision-card">
	<md-card-header md-colors="::{background: 'default-primary-700'}">
		<md-card-header-text>
			<h3 class="md-headline">{{mission.name}}</h3>
		</md-card-header-text>
	</md-card-header>
	<div class="card-image" ng-style="{'background-image':'url({{mission.image || '../images/manitos.png'}})'}"></div>
	<md-card-actions layout="row" layout-align="start center" class="mission">
		<md-button aria-label="Más información" class="md-fab md-mini more-button" ng-click="moreInformation($event)">
			<i class="fa fa fa-info" aria-hidden="true"></i>
		</md-button>
	</md-card-actions>
	<md-card-content>
		<div class="location truncate" ng-show="mission.stages">
			<span ng-repeat="stage in mission.stages">
				<span ng-repeat="marker in stage.markers">
					<i class="fa fa-map-marker" aria-hidden="true"></i> {{marker.title}}
				</span>
			</span>
		</div>
		<p ng-show="mission.startDate != mission.endDate">Desde {{mission.startDate | date:'dd/MM/yyyy'}} hasta {{mission.endDate | date:'dd/MM/yyyy'}}</p>
		<p ng-hide="mission.startDate != mission.endDate">
			El {{mission.startDate | date:'dd/MM/yyyy'}}
		</p>
		<p>
			{{mission.description}}
		</p>
	</md-card-content>
	
	<md-card-footer md-colors="::{background: 'default-primary-50'}">
		<b class="truncate">{{mission.ong.name}}</b>
		<div class="truncate">
			<a ng-repeat="tag in mission.hashTags" target="_blank" ng-href="https://twitter.com/hashtag/{{tag}}?src=hash">#{{tag}} </a>
		</div>
	</md-card-footer>
</md-card>
