<div class="loading-container" layout="row" layout-sm="row" layout-align="center center" ng-show="loading">
	<md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
</div>
<div class="ngo" ng-hide="loading" layout-align="center center">
	<md-tabs layout-fill flex="100" flex-gt-sm="50">
		<md-tab label="Datos">
			 <md-tab-content flex="100" flex-gt-sm="50">
			 	<md-card>
			 		<md-card-header md-colors="::{background: 'default-primary-50'}">
						<h3>
							Configuración de datos de la ONG - <i>{{::vm.name}}</i>
						</h3>
					</md-card-header>
			 		<md-card-content>
						<form name="frmNgo" layout="row" layout-wrap>
							<md-input-container  flex="grow" class="md-block">
								<label>Nombre de ONG</label>
								<input ng-model="vm.name">
							</md-input-container>
							<md-input-container flex="grow" flex-gt-sm="50">
								<label>Dirección</label>
								<input ng-model="vm.address">
							</md-input-container>
							<md-input-container flex="grow" flex-gt-sm="50">
								<label>Telefono</label>
								<input ng-model="vm.telephone">
							</md-input-container>
							<md-input-container flex="grow" flex-gt-sm="50">
								<label>Contacto</label>
								<input ng-model="vm.contact">
							</md-input-container>
							<md-input-container flex="grow" flex-gt-sm="50">
								<label>Email</label>
								<input type="email" ng-model="vm.email">
							</md-input-container>
							<md-input-container flex="100">
								<label>URL de Facebook</label>
								<input ng-model="vm.fbUrl">
								<div class="hint">https://www.facebook.com/<b>{{vm.fbUrl}}</b></div>
							</md-input-container>
							<md-input-container flex="grow">
								<label>Descripción</label>
								<textarea ng-model="vm.description" md-maxlength="300" rows="5" md-select-on-focus></textarea>
							</md-input-container>
							<md-input-container flex="grow">
								<lf-ng-md-file-input flex="grow" flex-gt-sm="100" lf-files="files01"></lf-ng-md-file-input>
							</md-input-container>
							<div>
								<img ng-src="{{vm.image}}" style="display:block;width:100%"/>
							</div>
							<div flex="grow">
								<md-chips ng-model="vm.leaderVoluntary" readonly="false" md-require-match="true">
									<md-autocomplete
									md-search-text="searchVoluntaryText"
									md-items="item in getVoluntaryMatches(searchVoluntaryText)"
									md-item-text="item.username"
									placeholder="Voluntarios líderes">
										<span md-highlight-text="searchText">{{item.username || item.mail}}</span>
									</md-autocomplete>
									<md-chip-template>
										<span>
											{{$chip.username || $chip.mail}}
										</span>
									</md-chip-template>
								</md-chips>
							</div>
							<div flex="grow" layout="row" layout-align="center center">
								<md-button flex="33" ng-disabled="frmNgo.$invalid" ng-click="update()" class="md-raised md-primary">Actualizar</md-button>
							</div>
						</form>
					</md-card-content>
				</md-card>
			</md-tab-content>
		</md-tab>
		<md-tab label="Misiones">
			<md-tab-content flex="100" flex-gt-sm="50">
				<md-card>
					<md-card-header md-colors="::{background: 'default-primary-50'}">
						<h3>
							Misiones de la ONG - <i>{{::vm.name}}</i>
						</h3>
					</md-card-header>
				</md-card>
				<div class="mission-list" layout="row" layout-wrap>
						<md-card class="mision-card" flex="100" ng-repeat="mission in vm.missions">
							<img ng-src="{{mission.image}}" class="md-card-image" />
							<md-card-actions layout="row" layout-align="start center" class="mission">
								<md-button aria-label="Editar" class="md-fab md-mini" flex="none" ng-click="editMission(mission, $event)">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</md-button>
								<md-button aria-label="Borrar" class="md-fab md-mini" flex="none" ng-click="deleteMission(mission, $event)">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</md-button>
							</md-card-actions>
							<md-card-content>
								<span class="location">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span ng-repeat="stage in mission.stages">
										<span ng-repeat="marker in stage.markers">
											{{marker.title}}.
										</span>
									</span>
								</span>
								<h3 class="md-headline">{{mission.name}}</h3>
								<p class="description">
									{{mission.description}}
								</p>
							</md-card-content>
							<md-card-footer>
								<b>{{mission.ong.name}}</b>
								<a style="display:block" ng-repeat="tag in mission.hashTags" ng-href="http://www.twitter.com/{{tag}}">#{{tag}}</a>
							</md-card-footer>
						</md-card>
					</div>
				</md-tab-content>
		</md-tab>
	</md-tabs>
	<md-button aria-label="Nuevo" class="md-fab md-mini create-mission" ng-click="createMission(ev)">
		<i class="fa fa-plus" aria-hidden="true"></i>
	</md-button>
</div>